.admin {
    color: $white;
    padding: 20px 0;
    h1 {
        font-size: 36px;
        font-weight: 700;
    }
    h2 {
        font-size: 20px;
        a {
            text-decoration: none;
            color: #09d3ac;
        }
    }
    svg {
        width: 200px;
    }
    &__head {
        border-radius: 8px;
        font-weight: 600;
        background-color: #343C43;
        font-size: 16px;
        padding: 20px;
        &--id {
            font-weight: 700;
            font-style: italic;
            @include breakpoint ($bpm-sm) {
                // text-align: center;
                margin-bottom: 20px;
            }
        }
    }
    &__content {
        background-color: #343C43;
        border-radius: 8px;
        font-size: 16px;
        color: #738295;
        .row {
            padding: 20px;
            &:nth-child(even) {
                background-color: #2C343A;
            }
        }
        &--id {
            font-weight: 700;
            font-style: italic;
            @include breakpoint ($bpm-sm) {
                // text-align: center;
                margin-bottom: 20px;
            }
        }
        a {
            text-decoration: none;
            color: #738295;
        }
        p, label, a {
            word-wrap: break-word;
        }
    }
    button {
        background-color: #09d3ac;
        color: #FFFFFF;
        border: none;
        border-radius: 4px;
        // width: 10%;
        margin: 0 10px;
        padding: 10px 20px;
        border: 1px solid #09d3ac;
        &:hover {
            color: #09d3ac;
            background-color: transparent;
        }
        &:nth-child(2) {
            background-color: transparent;
            color: #09d3ac;
            border: 1px solid #09d3ac;
            &:hover {
                background-color: #09d3ac;
                color: #FFFFFF;
            }
        }
    }
    &__footer {
        text-align: center;
        color: #09d3ac;
        position: relative;
        margin-top: 40px;
    }
}