.blockButton {
    background-color: $blue;
    color: $white;
    width: 150px;
    height: 45px;
    border-radius: 20.5px;
    border: none;
    font-size: $nav-font;
    font-weight: bold;
    &:hover {
        border-radius: 20.5px;
        border: solid 2px $blue;
        background-color: $white;
        color: $blue;
    }
}

.outlineButton {
    background-color: $white;
    color: $blue;
    width: 150px;
    height: 45px;
    border-radius: 20.5px;
    border: solid 2px $blue;
    font-size: $nav-font;
    font-weight: bold;
}

.longButton {
    background-color: $blue;
    color: $white;
    width: 202px;
    height: 45px;
    border-radius: 20.5px;
    border: none;
    font-size: $nav-font;
    font-weight: bold;
    margin-top: 12px;
    &:hover {
        border-radius: 20.5px;
        border: solid 2px $blue;
        background-color: $white;
        color: $blue;
    }
}

.sButton {
    width: 119px;
    height: 45px;
    background-color: $blue;
    color: $white;
    border-radius: 20.5px;
    border: solid 1px $white;
    font-size: 20px;
    font-weight: 900;
    &:hover {
        background-color: $white;
        color: $blue;
    }
}