.light-theme {
    .contact {
        margin-top: 100px;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $blue;
        color: $white;
        width: 45%;
        border-radius: 20px;
        padding-bottom: 40px;
        @include breakpoint ($bpm-md) {
            width: 90%;
        }
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        label {
            font-size: 36px;
            font-weight: bold;
            letter-spacing: 1.8px;
            margin-left: 28px;
        }
        &__input {
            border-radius: 20px;
            width: 37.5vw;
            height: 66px;
            margin: 14px 0;
            padding-left: 10px;
            font-weight: 900;
            @include breakpoint ($bpm-md) {
                width: 70vw;
            }
        }
        textarea {
            padding-top: 10px;
            height: 223px;
            margin-bottom: 47px;
        }
    }
}

.dark-theme {
    .contact {
        margin-top: 100px;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $dt-grey;
        color: $white;
        width: 45%;
        border-radius: 20px;
        padding-bottom: 40px;
        @include breakpoint ($bpm-md) {
            width: 90%;
        }
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        label {
            font-size: 36px;
            font-weight: bold;
            letter-spacing: 1.8px;
            margin-left: 28px;
        }
        &__input {
            border-radius: 20px;
            width: 37.5vw;
            height: 66px;
            margin: 14px 0;
            padding-left: 10px;
            font-weight: 900;
            @include breakpoint ($bpm-md) {
                width: 70vw;
            }
        }
        textarea {
            padding-top: 10px;
            height: 223px;
            margin-bottom: 47px;
        }
    }
}