.footer {
    background-color: $blue;
    margin: 0;
    margin-top: 165px;
    max-width: 100%;
    color: $white;
    height: 275px;
    .row {
        height: 100%;
    }
    img {
        width: 57px;
        height: 82px;
    }
    &__icons {
        color: $white;
    }
    .fab, .fas {
        margin: 30px;
        margin-bottom: 0px;
    }
    &__icons::before {
        content: "";
        position: absolute; 
        width: 5px; 
        height: 5px;
        border-radius: 50%; 
        bottom: O;
        opacity: O; 
        transition: all 0.4s; 
    }
    &__icons:hover::before { opacity: 1;}
    i {
        transform: translateY(0);
        transition: all 0.4s;
    }
    &__icons:hover i {
        transform: translateY(-10px);
    }
    &__credits {
        font-size: 24px;
        font-weight: 900;
        margin-top: 40px;
    }
    &__copyright {
        font-size: 24px;
        font-weight: 900;
    }
}