.footer {
    background-color: $blue;
    // @include breakpoint ($bpm-md) {
    //     background-color: #e41717;
    // }
    margin: 0;
    margin-top: 165px;
    max-width: 100%;
    color: $white;
    height: 38.08vh;
    position: absolute;
    @include breakpoint ($bpm-sm) {
        height: 75vh;
    }
    .row {
        height: 100%;
    }
    &__Left {
        @include breakpoint ($bpm-sm) {
            justify-content: center !important;
        }
    }
    img {
        width: 57px;
        height: 82px;
    }
    &__icons {
        color: $white;
    }
    .fab, .fas {
        margin: 30px;
        margin-bottom: 0px;
        :hover {
            -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
            -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
            box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
            transform: rotate(20deg);
        }
    }
    
    &__credits {
        font-size: 24px;
        font-weight: 900;
        margin-top: 40px;
    }
    &__copyright {
        font-size: 24px;
        font-weight: 900;
    }
}