.forms {
    width: 50%;
    padding: 20px 10px;
    padding-top: 56px;
    background-color: #343C43;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    @include breakpoint ($bpm-md) {
        width: 100%;
    }
    &__icon {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background-color: #2C343A;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 366px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
        @include breakpoint ($bpm-sm) {
            bottom: 390px;
        }
    }
    h1 {
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
    }
    form {
        div {
            display: flex;
            flex-direction: column;
            label {
                color: #738295;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            input {
                background-color: #2C343A;
                border: none;
                padding: 10px;
                border-radius: 4px;
            }
        }
        button {
            background-color: #09d3ac;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            padding: 10px 24px;
            border: 1px solid #09d3ac;
            margin-right: 20px;
            margin-top: 20px;
            &:hover {
                color: #09d3ac;
                background-color: transparent;
            }
            @include breakpoint ($bpm-sm) {
                margin-bottom: 20px;
            }
        }
        a {
            background-color: transparent;
            color: #09d3ac;
            border: none;
            border-radius: 4px;
            padding: 12px 24px;
            border: 1px solid #09d3ac;
            text-decoration: none;
            margin-top: 20px;
            &:hover {
                color: #FFFFFF;
                background-color: #09d3ac;
            }
        }
    }
}