.light-theme {
    .landingContainer {
        @include breakpoint ($bpm-lg) {
            margin-top: 70px;
        }
        @include breakpoint ($bpm-xs) {
            margin-bottom: 150px;
        }
        @include breakpoint (max-width 491px) {
            margin-bottom: 200px;
        }
    }
    
    .buttonContainer {
        @include breakpoint ($bpm-xs) {
            align-items: center;
            flex-direction: column;
        }
        .landingButtons {
            @include breakpoint ($bpm-xs) {
                margin: 10px !important;
            }
        }
    }
    
    .landingLeft {
        padding-left: 6.3vw;
        h1 {
            font-size: 56px;
            font-weight: 900;
            .name {
                color: $blue;
            }
        }
        .textChange {
            &::before {
                content: "Web Developer";
                animation: animate infinite 4s;
            }
            @keyframes animate 
            {
                10% 
                {
                    content: "Web Developer";
                }
                13% 
                {
                    content: "Web Develope";
                }
                16% 
                {
                    content: "Web Develop";
                }
                19% 
                {
                    content: "Web Develo";
                }
                22% 
                {
                    content: "Web Devel";
                }
                25% 
                {
                    content: "Web Deve";
                }
                28% 
                {
                    content: "Web Dev";
                }
                31% 
                {
                    content: "Web De";
                }
                34% 
                {
                    content: "Web D";
                }
                37% 
                {
                    content: "Web";
                }
                40% 
                {
                    content: "We";
                }
                43% 
                {
                    content: "W";
                }
                46% 
                {
                    content: "D";
                }
                49% 
                {
                    content: "De";
                }
                52% 
                {
                    content: "Des";
                }
                55% 
                {
                    content: "Desi";
                }
                58% 
                {
                    content: "Desig";
                }
                61% 
                {
                    content: "Design";
                }
                64% 
                {
                    content: "Designe";
                }
                67% 
                {
                    content: "Designer";
                }
            }
        }
    }
}

.dark-theme {
    .landingContainer {
        @include breakpoint ($bpm-lg) {
            margin-top: 70px;
        }
        @include breakpoint ($bpm-xs) {
            margin-bottom: 150px;
        }
        @include breakpoint (max-width 491px) {
            margin-bottom: 200px;
        }
    }
    
    .buttonContainer {
        @include breakpoint ($bpm-xs) {
            align-items: center;
            flex-direction: column;
        }
        .landingButtons {
            @include breakpoint ($bpm-xs) {
                margin: 10px !important;
            }
        }
    }
    
    .landingLeft {
        padding-left: 6.3vw;
        h1 {
            font-size: 56px;
            font-weight: 900;
            color: $white;
        }
        .textChange {
            &::before {
                content: "Web Developer";
                animation: animate infinite 4s;
            }
            @keyframes animate 
            {
                10% 
                {
                    content: "Web Developer";
                }
                13% 
                {
                    content: "Web Develope";
                }
                16% 
                {
                    content: "Web Develop";
                }
                19% 
                {
                    content: "Web Develo";
                }
                22% 
                {
                    content: "Web Devel";
                }
                25% 
                {
                    content: "Web Deve";
                }
                28% 
                {
                    content: "Web Dev";
                }
                31% 
                {
                    content: "Web De";
                }
                34% 
                {
                    content: "Web D";
                }
                37% 
                {
                    content: "Web";
                }
                40% 
                {
                    content: "We";
                }
                43% 
                {
                    content: "W";
                }
                46% 
                {
                    content: "D";
                }
                49% 
                {
                    content: "De";
                }
                52% 
                {
                    content: "Des";
                }
                55% 
                {
                    content: "Desi";
                }
                58% 
                {
                    content: "Desig";
                }
                61% 
                {
                    content: "Design";
                }
                64% 
                {
                    content: "Designe";
                }
                67% 
                {
                    content: "Designer";
                }
            }
        }
    }
}

#face {
    animation: face_ani 1s ease-in-out infinite alternate; 
    transform-origin: bottom;
    transform-box: fill-box;
}

#wheel-1, #wheel-2 {
    animation: wheel 4s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes face_ani{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(30deg);
    }
}

@keyframes example {
    0%   { left:0px; top:0px;}
    50%  { left:200px; top:0px;}
    100%  { left:0px; top:0px;}
  }