.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    color: $white;
    height: 725px;
    width: 100%;
    font-family: Lato;
    font-size: 64px;
    font-weight: 900;
    @include breakpoint ($bpm-sm) {
        height: 800px;
    }
    span {
        &::before {
            content: "...";
            animation: loader infinite 2s;
        }

        @keyframes loader {
            20%
            {
                content: "..";
            }
            40%
            {
                content: ".";
            }
            
            60%
            {
                content: "..";
            }
            80%
            {
                content: "...";
            }
        }
    }
}