.skillSet {
    width: 504px;
    height: 79px;
    border-radius: 20px;
    background-color: $blue;
    color: $white;
    font-size: $nav-font;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 10px 0;
    &:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1.00));
        font-style: italic;
    }
    &__wrap {
        width: 450px;
        height: 5px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        display: flex;
        justify-content: start;
        &--bar {
            // width: 80%;
            height: 5px;
            background-color: $white;
            border-radius: 3px;
        }
    }
}