@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// COLORS

$blue: #01087C;
$white: #FAFAFA;
$blue-sec: #1A2189;
$white-sec: #F9F9F9;
$grey: #5D5D5D;

$dt-grey: #262A34;
$dt-black: #000000;

// FONTS

$font: 'Lato', sans-serif;

// FONT SIZE

$section-head: 48px;
$nav-font: 20px;
$base-text: 22px;

// BREAKPOINTS

$bp-xxs: 375px;
$bp-xs: 544px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xl: 1400px;
$bp-xxl: 1750px;

$bpm-xxs: (max-width 375px); // mobile small
$bpm-xs: (max-width 544px); // small tab and mobile landscape
$bpm-sm: (max-width 768px); // small tabs
$bpm-md: (max-width 992px); // large tabs
$bpm-lg: (max-width 1200px);
$bpm-xl: (max-width 1400px);
$bpm-xxl: (max-width 1750px);

$bpm-scroll: (max-width 1296px);

