@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// COLORS

$blue: #01087c;
$white: #ffffff;
$blue-sec: #1A2189;
$white-sec: #F9F9F9;
$grey: #5D5D5D;

// FONTS

$font: 'Lato', sans-serif;

// FONT SIZE

$section-head: 48px;
$nav-font: 20px;
$base-text: 22px;

// BREAKPOINTS

$bp-xxs: 375px;
$bp-xs: 544px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xl: 1400px;
$bp-xxl: 1750px;

$bpm-xxs: (max-width 375px); // mobile small
$bpm-xs: (max-width 544px); // small tab and mobile landscape
$bpm-sm: (max-width 768px); // small tabs
$bpm-md: (max-width 992px); // large tabs
$bpm-lg: (max-width 1200px);
$bpm-xl: (max-width 1400px);
$bpm-xxl: (max-width 1750px);

// // MIXINS

// @mixin bp-xxs {
//     @include breakpoint($g-bp-xxs) {
//       @content;
//     }
//   }
//   @mixin bp-xs {
//     @include breakpoint($g-bp-xs) {
//       @content;
//     }
//   }
  
//   @mixin bp-sm {
//     @include breakpoint($g-bp-sm) {
//       @content;
//     }
//   }
  
//   @mixin bp-md {
//     @include breakpoint($g-bp-md) {
//       @content;
//     }
//   }
  
//   @mixin bp-lg {
//     @include breakpoint($g-bp-lg) {
//       @content;
//     }
//   }
  
//   @mixin bp-xl {
//     @include breakpoint($g-bp-xl) {
//       @content;
//     }
//   }
  
//   @mixin bp-xxl {
//     @include breakpoint($g-bp-xxl) {
//       @content;
//     }
//   }
  
//   //max-width breakpoints
//   @mixin bpm-xxs {
//     @include breakpoint($g-bpm-xxs) {
//       @content;
//     }
//   }

//   @mixin bpm-xs {
//     @include breakpoint($g-bpm-xs) {
//       @content;
//     }
//   }
  
//   @mixin bpm-sm {
//     @include breakpoint($g-bpm-sm) {
//       @content;
//     }
//   }
  
//   @mixin bpm-md {
//     @include breakpoint($g-bpm-md) {
//       @content;
//     }
//   }
  
//   @mixin bp-nav {
//     @include breakpoint(977px) {
//       @content;
//     }
//   }
  
//   @mixin bpm-nav {
//     @include breakpoint(max-width(977px - 1)) {
//       @content;
//     }
//   }
  
//   @mixin bpm-lg {
//     @include breakpoint($g-bpm-lg) {
//       @content;
//     }
//   }
  
//   @mixin bpm-xl {
//     @include breakpoint($g-bpm-xl) {
//       @content;
//     }
//   }
  
//   @mixin bpm-xxl {
//     @include breakpoint($g-bpm-xxl) {
//       @content;
//     }
//   }

  .col-bg-1 {
    background-color: red;
  }

  .col-bg-2 {
    background-color: yellow;
  }

