.light-theme {
    .workTiles {
        // background-image: url("../assets/InstructorHQ.PNG");
        height: 262px;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        padding: 0 !important;
        margin: 20px 0;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
        &:hover {
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
        }
        &__overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $blue;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:hover {
                opacity: 1;
            }
            h1 {
                color: $white;
                font-weight: bold;
                letter-spacing: 1.8px;
            }
        }
    }
}

.dark-theme {
    .workTiles {
        height: 262px;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        padding: 0 !important;
        margin: 20px 0;
        filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
        &:hover {
            filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
        }
        &__overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $dt-grey;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:hover {
                opacity: 1;
            }
            h1 {
                color: $white;
                font-weight: bold;
                letter-spacing: 1.8px;
            }
        }
    }
}